PORT=
NODE_ENV=
SECRET_JWT_SEED=
JWT_EXPIRE_IN=

DB_DIALECT=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=

FB_APP_ID=
FB_APP_SECRET=
FB_PROVIDER_TOKEN=
FB_BUSINESS_ID=

FB_VERIFY_TOKEN=
FB_PAGE_ACCESS_TOKEN=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_REDIRECT_URI=
GOOGLE_REDIRECT_URI_DEV=
GOOGLE_OAUTH_STATE_SECRET=
GOOGLE_PUSH_WEBHOOK_URL=